# PostgreSQL
POSTGRES_USER=career_user
POSTGRES_PASSWORD=career_password
POSTGRES_DB=careertrack_db
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Backend
BACKEND_PORT=5000

# Frontend
FRONTEND_PORT=3000

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@careertrack.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050